<section ng-controller="ExampleController">
    <div data-ng-show="!authentication.user">
        <a href="/signup">signup</a>
        <a href="/signin">signin</a>
    </div>
    <div data-ng-show="authentication.user">
        <a href="/signout">Sign out</a>
    </div>
    <div>
        <h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>
        <ul>
            <li><a href="/#!/chat">Chat</a></li>
            <li><a href="/#!/articles">List articles</a></li>
            <li><a href="/#!/articles/create">Create article</a></li>
        </ul>
    </div>
</section>